@import 'views/login';
.height-100vh{
    height: 100vh;
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .on-print-font-change, .on-print-font-change *{
        font-weight: bold;
    }
}